/* cssの書き方
セレクタ {
    プロパティ: 値;
    プロパティ: 値;
    ・・・
}
    
セレクタ＝htmlのどの要素か */

/* ???Question??? */
/* セレクタ＝タグという理解で良いか？
・タグセレクタ
・クラスセレクタ
・IDセレクタ
などがある */

body {
  font-family: sans-serif;
  padding: 20px;
}
/* ページ全体(body)に対してのデザイン
フォント：サンセリフ体
パディング：20pxの余白 */


input {
  padding: 5px;
  font-size: 16px;
}
/* 入力欄に対してのデザイン
パディング(内側の余白)：入力欄の中の文字とボーダーの間の余白5px
フォントサイズ：16px */


button {
  padding: 6px 12px;
  font-size: 16px;
}
/* ボタンに対してのデザイン
パディング：上下に6px、左右に12pxの余白
*/


li {
  margin: 8px 0;
}
/* 箇条書きリストの各項目のデザイン
マージン(外側の余白)：上下に8pxの感覚を入れる
 */

/* ???Question??? */
/* paddingやmarginでは1つまたは2つの値のみを指定するのか
1つ：上下左右全て同じ余白を指定
2つ：上下を1つ目の値、左右を2つ目の値で余白を指定
3つ：上を1つ目、左右を2つ目、下を3つ目の値で余白を指定
4つ：上、右、下、左の順で余白を指定 */